.mainbox {
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: var(--secondary-color);
  font-size: 10rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.msg {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.3;
  position:absolute;
  left: 16%;
  top: 30%;
  width: 75%;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  text-decoration: underline;
}
